@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(144, 147, 231);
    color: rgb(44, 41, 44);
    font-family: 'Roboto Condensed', Arial;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1{
    color: rgb(0, 0, 0);
    font-size: 5rem;
    text-align: center;
    opacity: 0.4;
}

form{
    width:400px;
    max-width:100%;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.1);
}

.input{
    width:100%;
    border:none;
    padding:1rem 2rem;
    font-size: large;
    color: rgb(238, 18, 18);
    display: block;
}

.input::placeholder{
    color: rgb(15, 11, 243);
}

.input:focus{
    outline-color: rgb(247, 4, 166);
}

.todos{
    background-color: rgb(245, 0, 0);
    list-style:none;
    padding:0;
    margin:0;
}

.todos li{
    border-top: 0cap;
    padding:1rem 2rem;
    font-size:1.5rem;
    cursor: pointer;
}

.todos li.completed{
    color: rgba(5, 5, 5, 0.932);
    text-decoration: dashed;
}

small{
    color: rgb(240, 28, 0);
    margin-top:3rem;
    text-align:center;
}


